# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg

# Environments
.env
.venv/
venv/
env/

# Database
*.db
data/*.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
temp/
tmp/

# Google Credentials
*.json
credentials.json
